:root {
  /* COLOR PALETTES */
  --primary-color: #171c22;
  --secondary-color: #1e2329;
  --grey-color: #646f80;
  --cta-color: #ff1e00;
  --active-color: #4083ec;
  --active-bg: #ffe0e0;
  --light-color: #ffffff;
  --dark-color: #000000;

  /* HEADER */
  --mobile-resize-landscape: 48px;
  --mobile-resize: 56px;
  --desktop-resize: 64px;
}

.primary-text {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.cta-bg {
  background-color: var(--cta-color);
}

.grey-text {
  color: var(--grey-color);
}

.light-text {
  color: var(--light-color);
}

.dark-text {
  color: var(--dark-color);
}

.active-text {
  color: var(--active-color);
}

.active-bg {
  background-color: var(--active-color);
}

/* DEFAULTS */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background: #121212;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* LIBRARY */
.grow {
  flex-grow: 1;
}

/* HELPER CLASS */
.ellipsis {
  display: -webkit-box;
  max-width: 150px;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}