.header-root {
  display: flex;
  z-index: 1210;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
  /* border-bottom: 2px solid var(--secondary-color); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  /* background: var(--light-color); */
  background: #232323;
  color: white;
}

.fixed-top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-resize {
  min-height: var(--mobile-resize);
}

.offset-top {
  margin-top: var(--mobile-resize);
}

.toolbar-gutters {
  padding-left: 16px;
  padding-right: 16px;
}

/* Header Logo */
.header-logo {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 0;
}

/* Header items */
.section-desktop {
  display: none;
}

.section-mobile {
  display: flex;
}

/* MEDIA QUERIES */
@media (min-width: 0px) and (orientation: landscape) {
  .navbar-resize {
    min-height: var(--mobile-resize-landscape);
  }
}

@media (min-width: 600px) {
  .toolbar-gutters {
    padding-left: 24px;
    padding-right: 24px;
  }

  .navbar-resize {
    min-height: var(--desktop-resize);
  }

  .offset-top {
    margin-top: var(--desktop-resize);
  }
}

@media (min-width: 960px) {
  .section-desktop {
    display: flex;
  }

  .section-mobile {
    display: none;
  }
}
