.section-title {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 0.5rem;
}

.column {
  display: inline-block;
  padding: 0.5rem;
  width: 20%;
  vertical-align: top;
}

.card-content h4 {
  font-weight: 400;
  font-size: 0.9rem;
  color: #121212;
  margin-top: 0.3rem;
}

.card-content h5 {
  font-weight: 400;
  color: var(--grey-color);
}
